<script>
    /* Copyright (c) 2020-2022 Jacques Desodt */
    export let args = {};
    export let label = '';
</script>

<div class="_tp-button {args.buttonClassName}"
     on:click|stopPropagation
>
    {@html label}
</div>

<style>
    ._tp-button {
        background-color: #fff;
        border-radius: 0.25rem;
        color: #666;
        cursor: pointer;
        font-size: 1rem;
        min-width: 4rem;
        padding: 0.5rem;
        text-align: center;
        transition-duration: 300ms;
        transition-property: all;
    }

    ._tp-button:hover {
        background-color: #666;
        color: #fff;
    }
</style>
